@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Respira Black';
  src: url('./assets/fonts/Respira\ Black.ttf') format('opentype');;
}

@font-face {
  font-family: 'Sporting Grotesque';
  src: url('./assets/fonts/SportingGrotesque-Regular.otf') format('opentype');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Sporting Grotesque';
  src: url('./assets/fonts/SportingGrotesque-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

.font-respira {
  font-family: 'Respira Black';

}

.font-sporting-regular {
  font-family: 'Sporting Grotesque';
  font-weight: normal;
  font-style: normal;
}

.font-sporting-bold {
  font-family: 'Sporting Grotesque';
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Canela Trial';
  src: url('./assets/fonts/Canela-RegularItalic-Trial.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Canela Trial';
  src: url('./assets/fonts/Canela-Bold-Trial.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Canela Trial';
  src: url('./assets/fonts/Canela-LightItalic-Trial.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Canela Trial';
  src: url('./assets/fonts/Canela-Regular-Trial.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


.font-canela-regular {
  font-family: 'Canela Trial', serif;
  font-weight: normal;
  font-style: normal;
  
}

.font-canela-light-italic {
  font-family: 'Canela Trial', serif;
  font-weight: 100;
  font-style: italic;
  
}


.font-canela-bold {
font-family: 'Canela Trial', serif;
font-weight: bold;
font-style: normal;

}

.font-canela-italic {
  font-family: 'Canela Trial', serif;
  font-style: italic;
}

.letter-spacing-tight {
  letter-spacing: -0.1em; /* Réduit l'espacement de 10% */
}

.hover-font-change:hover {
  font-family: 'Canela Trial', serif;
  font-weight: 300;
  font-style: italic;
  transition: font-family 0.3s ease-in-out;
}


body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;
  background-color: white;


  
}

.cursor {
  pointer-events: none;
  position: fixed;
  width: 26px;
  height: 26px;
  border-radius: 50%; /* Cercle parfait */
  background-color: #fff;
  border: 2px solid #000; /* Ajout d'une bordure noire pour un contraste */
  mix-blend-mode: difference; /* Changement de couleur sur fond blanc/noir */
  transform: translate(-50%, -50%); /* Pour centrer le cercle par rapport à la souris */
  z-index: 999999;
}



main {
  margin: 0;
  padding: 0;
}

h1, span {
  line-height: 1;
}

.scrollbar-none {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-none::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, Opera */
}

.scroll-smooth {
  scroll-behavior: smooth;
}




.word {
  display: inline-block;
  background: linear-gradient(90deg, #000 50%,#d3d3d3 50%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: background-position 0.6s ease; /* Transition fluide sur le changement de position du dégradé */
  background-size: 200% 100%;
  background-position: 100% 0; /* Position de départ du dégradé, mot entièrement en gris */
}

.word1 {
  
  display: inline-block;
  background: linear-gradient(90deg, #000 50%,#d3d3d3 50%);
  background-clip: text;
  -webkit-background-clip: text;
  color: black;
  transition: background-position 0.6s ease; /* Transition fluide sur le changement de position du dégradé */
  background-size: 200% 100%;
  background-position: 100% 0; /* Position de départ du dégradé, mot entièrement en gris */
}


.word.active {
  background-position: 0 0; /* Le dégradé bouge pour remplir progressivement le mot de noir */
}

.skills-section {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.skills-section.active {
  opacity: 1;
  transform: translateY(0);
}

